snippet btn "bibtex notes"
~~~~{.bib}
$1
~~~~

# Introduction
$2

# Experimental
$3

# Results and Discussion
$4

# My thoughts.
$5
endsnippet

snippet HOx "hox"
$\ce{HO_{x}}$
endsnippet

snippet HO2 "ho2"
$\ce{HO2}$
